*,
*:after,
*:before {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    height: 76%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: vertical;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper-alert {
    align-self: flex-end;
    margin-bottom: 2em;
    font-family: 'Helvetica Neue', 'Verdana';
    position: relative;
}

.spotify-button {
    /* display: flex;
    padding: 0.4em 0.5em; */
    padding-top: 2px;
    cursor: pointer;
}

.spotify-button i {
    margin-right: 0.5em;
    position: relative;
    text-align: end;
}

.fa-times {
    color: #1b438e7d;
}

.fa-info-circle {
    color: #1b438e;
}

.spotify-button span {
    font-size: 0.8em;
}

.input-alert {
    display: none;
}

.input-alert:checked+.spotify-button {
    background: #28a44d;
}

.input-alert:checked~.spotify-popup {
    visibility: visible;
    transform: translateX(-50%) translateZ(0);
    opacity: 1;
}

.spotify-popup {
    background: #fdc513;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    transform-origin: 0 100%;
    will-change: transform, opacity;
    display: flex;
    width: 23em;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 1em 4em -0.4em rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 110%;
    transform: translateY(0.4em) translateX(-50%) translateZ(0);
    left: 50%;
    margin-bottom: 1em;
}

.spotify-popup:before {
    content: '';
    display: block;
    position: absolute;
    top: -28%;
    left: 0;
    right: 199px;
    width: 0;
    height: 0;
    margin: auto;
    border-width: 0.8em;
    border-style: solid;
    border-color: transparent;
    border-top-color: #fdc513;
    filter: drop-shadow(0 1px #ccc);
    transition: all 0.1s ease;
    transform: rotate(0.5turn);
}

.pl-2 {
    padding-left: 10px;
    padding-top: 6px;
}


/*  */

.alert {
    margin: 0;
    border: none;
    border-radius: 0;
}

.alert:last-child {
    margin-bottom: 1rem;
}

.alert-dismissible .close {
    padding: 0;
}

.alert .close .material-icons {
    position: relative;
}